<div class="body">
  <h2>Calculate Petrol Average </h2>
  <form


    class="material-form "

  >
<div class="f">
    <mat-form-field  appearance="fill" class="field">
      <mat-label>Kilometers Driven</mat-label>
      <input
        type="number"
        matInput

  (input)="kilometers.set($any($event.target).value)"
        required

      />

    </mat-form-field>

   <mat-form-field appearance="fill" class="field">
      <mat-label>Liters Of Petrol</mat-label>
      <input
        type="number"
        matInput
(input)="liters.set($any($event.target).value)"
        required
 />

    </mat-form-field>

</div>
  </form>
  <h1>Petrol Average = {{this.avg()}} Kms Per Liter</h1>
</div>
