<div class="steps">
  <mat-stepper class="stepper" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="form" label="Personal Information">
      <app-persone-iinfo [form]="form" [error]="error"></app-persone-iinfo>
      <div class="step-actions">
        <button mat-button class="nextbtn" (click)="nextForm()">Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="form" label="Professional Details">
      <app-educational-iinfo
        [form]="form"
        [error]="error"
      ></app-educational-iinfo>
      <div class="step-actions">
        <button mat-button class="back" (click)="prevForm()">Back</button>
        <button mat-button class="nextbtn" (click)="nextForm()">Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="form" label="Information Details">
      <app-informationa-iinfo
        [form]="form"
        [error]="error"
      ></app-informationa-iinfo>
      <div class="btns">
        <button mat-raised-button class="back" (click)="prevForm()">
          Back
        </button>
        <button
          mat-raised-button
          class="submit"
          (click)="onSubmit()"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
