<app-navbar *ngIf="!ascomp" [user]="user"></app-navbar>

<div class="main">
  <h1>All Products</h1>
  <div class="products" *ngIf="!loader">
    <div
      class="product"
      *ngFor="
        let product of products
          | paginate : { itemsPerPage: 10, currentPage: p };
        trackBy: trackById
      "
    >
      @if(user=='customer'){
      <span (click)="addtocart(product)" class="addtocart"></span>
      }

      <img class="product" [src]="product.Image" alt="" />
      <div class="detail">
        <h3>{{ product.Name }}</h3>
        <p>{{ product.Description }}</p>
      </div>
      <div class="btns">
        <span>{{ product.Price | priceFormat }}</span>

        <span [ngClass]="{ 'low-stock': product.Stock < 10 }">
          {{ product.Stock }} <span class="small">items Left</span></span
        >
      </div>
      @if(user=='admin'){<button
        [appUpdateProduct]="product"
        [user]="'admin'"
        class="btn"
      >
        Manage Product</button
      >}
    </div>
  </div>
  <div class="spinner" *ngIf="loader">
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
