<div class="table">
  <h1>Users Information</h1>
  <table>
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{ item.name | uppercase }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.salary | number : "1.2-2" }}</td>
        <td [appAgeFilter]="item.age">{{ item.status }}</td>
      </tr>
    </tbody>
  </table>

  <div class="main">
    <h2 style="color: red; text-align: center">Chat Ppt</h2>
    <div class="btns">
      <textarea class="inp"
        type="text"
        placeholder="write a Paragraph"
        [(ngModel)]="paragraph"
        appSpaceChecker>
      </textarea>

      <button [appWordByWord]="displayedText" (wordshow)="onWordShow($event)"  class="btn" (click)="send()">Send</button>

        </div>
     <h1 >Response :</h1>
      <p>{{ displayText() }}</p>

  </div>
</div>
